<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>게시글 수정</title>
</head>
<body>
<form action="#" th:action="@{/board/edit/update}" th:object="${board}" method="post">
    <input th:field="*{id}" id="id" hidden>
    <div>
        <label for="name">작성자</label>
        <input type="text" th:field="*{name}" id="name" placeholder="Name">
        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
    </div>
    <div>
        <label>작성일</label>
        <p th:text="${createDate}"></p>
    </div>
    <div>
        <label for="title">제목</label>
        <input type="text" th:field="*{title}" id="title" placeholder="Title">
        <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
    </div>
    <div>
        <label for="content">내용</label>
        <textarea type="text" th:field="*{content}" id="content" placeholder="Content"/>
        <span th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></span>
    </div>
    <input type="submit" value="수정">
</form>
</body>
</html>