<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>게시판 예제 메인</title>
</head>
<body>
    <div>
        <ul>
            <li><a th:href="@{/board/list}">페이징 처리 안된 리스트</a></li>
            <li><a th:href="@{/board/list/basic1}">JpaRepository(Pageable) 페이징 처리</a></li>
            <li><a th:href="@{/board/list/basic2}">JpaRepository(PageRequest) 페이징 처리</a></li>
            <li><a th:href="@{/board/list/querydsl}">Querydsl 페이징 처리</a></li>
        </ul>
    </div>
</body>
</html>